<section class="about">
  <div class="container">
    <div class="about__text">
      <p class="title__label">tradition and love</p>
      <p class="title aboud__title">how it’s made?</p>
    </div>
    <div class="about__list-info">
      <ul class="about__list">
        <li class="about__logo">
          <picture>
            <source
              media="(min-width: 1200px )"
              srcset="./images/about/home-pic1a.png 1x, ./images/about/home-pic1a-2x.png x"
              type="image/png"
            />
            <source
              media="(min-width: 768px )"
              srcset="./images/about/home-pic1b.png 1x, ./images/about/home-pic1b-2x.png x"
              type="image/png"
            />
            <source
              media="(max-width: 767px )"
              srcset="./images/about/cow.png 1x, ./images/about/home-pic1c-2x.png x"
              type="image/png"
            />
            <img
              class="about__img"
              src="./images/about/cow.png"
              alt="cow and milk"
            />
          </picture>

        <li>
          <img
            class="about__img"
            src="/src/images/about/cow.png"
            alt="cow and milk"
          />

        </li>
        <li>
          <p class="about__text-info">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>

          <p class="about__text-label">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt. <br />
            <br />
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button class="about__button" type="button">
            Read more
            <img
              class="about__button-img"
              src="/src/images/about/Vector.png"
              alt="vector"
            />

          <p class="aboud__text-label">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button class="about__button" type="button">
            Read more <img class="about__button-img" src="/src/images/about/Vector.png" alt="vector" />
          </button>
        </li>
        <li class="about__item-foto">
          <img src="/src/images/about/milk.png" alt="milk" />
        </li>
      </ul>
    </div>
  </div>
</section>
