<section class="advantages">
    <div class="container page-advantages">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="page-advantages__list">
            <li class="page-advantages__item">
                <!-- <svg class="page-advantages__icon" width="50" height="50">
                    <use href="./images/icons/icons.svg#icon-advantages-3"></use>
                </svg> -->
                <img class="page-advantages__icon" src="./images/advantages/icon-advantages-1.png" alt="Иконка с мороженным">
                <h3 class="page-advantages__title"><strong>721</strong></h3>
                <p class="page-advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="page-advantages__item">
                <img class="page-advantages__icon" src="./images/advantages/icon-advantages-2.png" alt="Иконка с мороженным">
                <h3 class="page-advantages__title"><strong>16kg</strong></h3>
                <p class="page-advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="page-advantages__item">
                
                <img class="page-advantages__icon" src="./images/advantages/icon-advantages-3.png" alt="Иконка с мороженным">
                <h3 class="page-advantages__title"><strong>84</strong></h3>
                <p class="page-advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>