<section class="affiliates container-bg">
  <div class="container">
    <h3 hidden>Контакти</h3>
    <div class="cities">
      <ul class="chicago">
        <li class="chicago_cafe">CAFE</li>
        <li>
          <h4 class="chicago_citi">Chicago</h4>
          <p class="chicago_description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <hr />
        </li>
        <li>
          <div class="chicago_timetable">
            <ul>
              <li class="chicago_day">Monday - Friday</li>
              <li class="chicago_time">06:00 AM - 10:00 PM</li>
              <li class="chicago_day">Saturday - Sunday</li>
              <li class="chicago_time">08:00 AM - 16:00 PM</li>
            </ul>
          </div>
          <hr />
        </li>
        <li>
          <div class="chicago_contacts">
            <a href="tel:+610383766284" class="chicago_tel"
              >+61(0) 383 766 284
            </a>
            <a href="mailto:noreply@envato.com" class="chicago_tel"
              >noreply@envato.com</a
            >
          </div>
        </li>
      </ul>
      <ul class="chicago">
        <li class="los-angeles_cafe">FOODTRUCK</li>
        <li>
          <h4 class="chicago_citi">Los Angeles</h4>
          <p class="chicago_description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <hr />
        </li>
        <li>
          <div class="chicago_timetable">
            <ul>
              <li class="chicago_day">Monday - Friday</li>
              <li class="chicago_time">06:00 AM - 10:00 PM</li>
              <li class="chicago_day">Saturday - Sunday</li>
              <li class="chicago_time">08:00 AM - 16:00 PM</li>
            </ul>
          </div>
          <hr />
        </li>
        <li>
          <div class="chicago_contacts">
            <a href="tel:+610383766284" class="chicago_tel"
              >+61(0) 383 766 284
            </a>
            <a href="mailto:noreply@envato.com" class="chicago_tel"
              >noreply@envato.com</a
            >
          </div>
        </li>
      </ul>
      <ul class="chicago">
        <li class="chicago_cafe">CAFE</li>
        <li>
          <h4 class="chicago_citi">New York</h4>
          <p class="chicago_description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <hr />
        </li>
        <li>
          <div class="chicago_timetable">
            <ul>
              <li class="chicago_day">Monday - Friday</li>
              <li class="chicago_time">06:00 AM - 10:00 PM</li>
              <li class="chicago_day">Saturday - Sunday</li>
              <li class="chicago_time">08:00 AM - 16:00 PM</li>
            </ul>
          </div>
          <hr />
        </li>
        <li>
          <div class="chicago_contacts">
            <a href="tel:+610383766284" class="chicago_tel"
              >+61(0) 383 766 284
            </a>
            <a href="mailto:noreply@envato.com" class="chicago_tel"
              >noreply@envato.com</a
            >
          </div>
        </li>
      </ul>
    </div>

    <div class="chicago_btn">
      <button type="button" class="locations_btn">
        Our Locations
        <svg class="locations_pointer" width="3.6" height="8">
          <use href="./images/icons/icons.svg#icon-pointer"></use>
        </svg>
      </button>
      <button type="button" class="franchise_btn">
        Franchise
        <svg class="franchise_pointer" width="3.61" height="8">
          <use href="./images/icons/icons.svg#icon-pointer"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
